@import url("style-dark.css");

@font-face {
  font-family: 'SeaqFont';
  src: url('SeaqRegular.otf');
}
@media (min-width:600px) {
  .screenshot-50 img {
    width: 45%;
    margin: 1%;
    float: left;
  }
}
@media all and (max-width:500px) {
  body {
    font-size: 1.0em !important;
    line-height: 1.4em !important;
  }
  .button {
    font-size: 0.7em !important;
    padding: 0.5em !important;
    margin-bottom: 0.3em !important;
  }
  video {
    display: none;
  }
  .root {
    padding-top: 0px !important;
  }
  header {
    background-image: url('/seaquence/images/screenshot_HD1080_4x_00008_c.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    position: relative !important;
    height: 160px !important;
    background: none !important;
  }
  header img {
    padding-top: 20px !important;
    max-height: 130px;
  }
  #nav {
    margin: 0 !important;
  }
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1em;
}
h1, h2, h3 {
  margin-top: 1.5em;
}
a {

  /*text-decoration: none;*/
}
iframe {
  width: 100%;
}
img {
  max-width: 100%;
}
header {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;  /*background-image: url('/seaquence/images/screenshot_HD1080_4x_00008_c.jpg');*/

  /*background-repeat: no-repeat;*/

  /*background-position: center center;*/
  background-color: rgb(22, 25, 36);
  text-align: center;
  height: 250px;
  max-width: 100%;
  overflow: hidden;
}
header img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
  z-index: 1;
}
header .headvid {
  /*visibility:hidden;*/
  opacity:0;
}
header video {
  position: absolute;
  top: 0px;
  height: 250px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}
header.post-header {
  margin: 0;
  margin-bottom: 2em;
}
p {
  max-width: 700px;
  margin: 1em auto;
  padding: 0 2em;
}
.c_fg1 {
  color: #64C556;
}
.c_fg2 {
  color: #CB372C;
}
.c_fg3 {
  color: #2452E9;
}
.c_fg4 {
  color: #D2C646;
}
.c_fg5 {
  color: #D564A6;
}
.c_bg1 {
  background-color: #64C556;
  color: #000;
}
.c_bg2 {
  background-color: #CB372C;
  color: #300;
}
.c_bg3 {
  background-color: #2452E9;
  color: #000;
}
.c_bg4 {
  background-color: #D2C646;
  color: #000;
}
.c_bg5 {
  background-color: #D564A6;
  color: #000;
}
section {
  padding: 0.1em 0 2em 0;
}
ul, ol {
  max-width: 700px;
  margin: 1em auto;
}
li ul, li ol {
  margin: 0;
}
li {
  margin-left:1em;
}
article.post {
  max-width: 700px;
  margin: 0 auto;
}
.post-meta {
  font-size: 0.9em;
}
.post-list h2 {
  margin: 0;
}
.post-list li {
  margin-bottom: 1em;
}
.posts article.post {
  margin-bottom: 3em;
}
#nav {
  text-align: center;
  margin: 1em auto 2em auto;
  padding: 0 2em;
  max-width: 700px;
}
#nav li {
  display: inline-block;
}
.button, .button-disabled {
  font-family: "SeaqFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  border-radius: 0.5em;
  padding: 1em;
  text-decoration: none;
}
.PageNavigation {
  width: auto;
  overflow: hidden;
  text-align: center;
}
.PageNavigation a {
  margin: 1em 0;
}
.PageNavigation .prev {
  float: left;
}
.PageNavigation .next {
  text-align: right;
  float: right;
}
.pagination {
  text-align: center;
  margin-bottom: 1em;
}
.pagination .pagenums {
  font-family: "SeaqFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 1em;
}
.seaqfont {
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
}
.root {

  /*max-width: 700px;*/
  margin: auto;
  padding-top: 250px;
}
.container {
  width: 100%;
}
.box {

  /*max-width: 700px;*/
  padding: 0 auto;
  margin: 0 auto;
}
.footer {
  width: 100%;
  text-align: center;
  margin: 2em auto;
  font-size: 0.75em;
  text-transform: uppercase;
}
.iframe-container {
  padding-bottom: 50.25%;
  max-width: 700px;
  height: 350px;
  padding: 0 2em;
  margin: 0 auto;
}
.iframe-container iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.clear {
  clear: both;
}
.manual {
  /*padding: 0;*/
  /*margin: 0;*/
}
.manual ul {
  /*padding-left: 1em;*/
  /*margin: 0;*/
}
.manual li {
  padding: 0;
  margin: 0 0 0.25em 0;
  list-style-type: none;
}
.screenshot-50, .screenshot-33 {
  max-width: 700px;
  margin: 0 auto;
}