@import url("style-dark.css");

@font-face {
  font-family: 'SeaqFont';
  src: url('SeaqRegular.otf');
}
@media (min-width:600px) {
  .screenshot-50 img {
    width: 45%;
    float: left;
  }
}
@media all and (max-width:630px) {
  body {
    font-size: 1.0em !important;
    line-height: 1.4em !important;
  }
  .button {
    padding: 0.5em !important;
    margin-bottom: 0.3em !important;
  }
  video {
    display: none;
  }
  .root {}
  header {
    /*position: relative !important;*/
    /*max-height: 130px !important;*/
  }
  header img {
    /*padding-top: 0px !important;*/
    max-width:200px;
  }
  table {
    display:block;
  }
  table td {
    font-size:.65em;
    padding:3px;
    margin:0;
  }
}

svg {
  fill: currentColor;
}

body {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  text-align:center;
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  /*padding: 0 1.6em;*/
}
h1, h2, h3 {
  margin-top: 1em;
}
h1 {}
a {
  /*text-decoration: none;*/
}
iframe {
  width: 100%;
}
img {
  max-width: 100%;
}
header {
  /*position: absolute;*/
  top: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
header .header-seaq-logo img {
  margin-top:2em;
  max-width:120px;
}
header .header-seaq-logotype img {
  margin-top:1em;
  max-width:260px;
}
header .headvid {
  /*visibility:hidden;*/
  opacity:0;
}
header video {
  position: absolute;
  top: 0px;
  height: 250px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}
header.post-header {
  margin: 0;
  margin-bottom: 2em;
}
.header-copy, .download {
  font-family: "SeaqFont";
  line-height:2em;
  text-align:center;
}

.header-copy {
  font-size:0.95em;
}
.download {
  font-size:1.3em;
  display:block;
}
.download a {
  display:inline-block;
  color:#9ff;
  border:4px solid #9ff;
  padding:0.5em 1em;
  border-radius:0.3em;
  text-decoration:none;
}
.download a:hover {
  border-color:#999 !important;
  color:#999;
}
.bibliography ul {
  list-style-type:none;
  padding:0;
}
p {
  max-width: 650px;
  margin: 1em auto;
  padding: 0 20px;
  text-align:center;
}
table {
  border-collapse: collapse;
  padding:0;
  margin:1em auto;
}
tbody {
}
th {
  font-size:0.85em;
  padding:0 5px 0 10px;
  text-align:left;
  color:#777;
}
td {
  font-size:0.85em;
  line-height:1.5em;
  padding:5px 10px;
  border:3px solid #333;
  border-collapse: collapse;
  color:#ddd;
  text-overflow: ellipsis;
}
table tbody {

}
.c_fg1 {
  color: #64C556;
}
.c_fg2 {
  color: #CB372C;
}
.c_fg3 {
  color: #2452E9;
}
.c_fg4 {
  color: #D2C646;
}
.c_fg5 {
  color: #D564A6;
}
.c_bg1 {
  background-color: #64C556;
  color: #000;
}
.c_bg2 {
  background-color: #CB372C;
  color: #300;
}
.c_bg3 {
  background-color: #2452E9;
  color: #000;
}
.c_bg4 {
  background-color: #D2C646;
  color: #000;
}
.c_bg5 {
  background-color: #D564A6;
  color: #000;
}
section {
  /*padding: 0.1em 0 2em 0;*/
}
ul, ol  {
  max-width: 550px;
  margin: 1em auto;
}
li ul, li ol {
  margin: 0;
  padding: 0;
}
li {
  /*margin-left:1em;*/
}
article.post {
  max-width: 700px;
  margin: 0 auto;
}
.post-content p {
  padding:0;
}
.post-meta {
  font-size: 0.9em;
  text-align:center;
}
.post-list {
  padding: 0;
}
.post-list h2 {
  margin: 0;
}
.post-list li {
  margin-bottom: 1em;
  margin-left:0;
  list-style-type:none;
  text-align:left;
}
.post-list li * {
  padding:0;
}
.post-list li h2 {
  text-align:left;
  }
.posts article.post {
  margin-bottom: 3em;
}
#nav {
  max-width:650px;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
}
  #nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  .nav-pages {
    width:40%;
    flex-grow:1;
  }
  .nav-pages li {
  }
  .nav-pages li a {
    /*text-de*/coration:none;
  }
  .social-links {
    flex-grow:1;
    width:60%;
    margin:0 3em;
  }
input[type="button"], .button, .button-disabled {
  font-family: "SeaqFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1em;
  color:#9ff;
  display: inline-block;
  border-radius: 0.5em;
  padding: 1em;
  border:2px solid #9ff;
  padding:0.5em 1em;
  border-radius:0.3em;
  text-decoration:none;
  background:none;
  /*text-decoration: none;*/
}
.PageNavigation {
  max-width:700px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.PageNavigation a {
  margin: 1em 0;
}
.PageNavigation .prev {
  float: left;
}
.PageNavigation .next {
  text-align: right;
  float: right;
}
.pagination {
  text-align: center;
  margin-bottom: 1em;
}
.pagination .pagenums {
  font-family: "SeaqFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 1em;
}
.seaqfont {
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
}
.root {
  margin:0 auto;
  max-width: 750px;
}
.container {
  width: 100%;
  overflow: hidden;
  /*margin: 0em 1em !important;*/
}
.box {
  /*max-width: 700px;*/
  padding: 0 auto;
  margin: 0 auto;
}
.box div {
  padding: 0 20px;
}
.footer {
  width: 100%;
  text-align: center;
  margin: 2em auto;
  font-size: 0.6em;
  font-weight:bold;
  text-transform: uppercase;
}
.oknk-logo {
  max-width:75px;
  margin:1em 0 2em 0;
}
.iframe-container {
  padding-bottom: 50.25%;
  max-width: 700px;
  height: 350px;
  padding: 0 2em;
  margin: 0 auto;
}
.iframe-container iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.clear {
  clear: both;
}
.guide li {
padding-left: 1em;
}

.manual {
  /*padding: 0;*/
  /*margin: 0;*/
}
.manual ul {
  padding-left: 1em;
  /*margin: 0;*/
}
.manual li {
  padding: 0;
  margin: 0 0 0.25em 0;
  list-style-type: none;
}
.screenshot-50, .screenshot-33 {
  max-width: 700px;
  margin: 0 auto;
}
.screenshot-50 a, .screenshot-33 a {
  text-decoration:none;
}
.screenshot-50 img, .screenshot-33 img {
  margin: 0 10px 10px 0;
}
.appstore_dl {
  margin:10px;
  display:block;
}
.appstore_dl img {
  height:75px;
}
div#disqus_thread {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2em;
}

form {
padding:0;
margin:0;
  }
.emailform {
  max-width:500px;
  margin:1em auto;
  padding:1em;
  /*background:#2F3C4A;*/
}
.emailform input, .emailform textarea {
  padding: 7px 10px;
  width:85%;
  margin:0.5em 1em;
  font-size: 1em;
  background: #ddd;
  border: 1px solid #000;
  color: #666;
}
.emailform input[type="text"]{
  margin-top:1.5em;
}
.emailform button {
  margin:1em auto;
  margin-top:0;
}
.emailform textarea {
  height:5em;
}

.featurelist ul li {
  /*font-size:0.9em !important;*/
}

.pd_logo, .ci_logo {
max-width:5em;
}

.index-iphone {
  max-width:300px;
}
