body {
  background: #1D252D;
  color: #bbb;
}

a {
  color: #fff;
}
a:active {
  outline: none
}
a:hover  {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  color:#fff;
}

.footer {
  color:#555;
}

.button,
.button-disabled,
.PageNavigation a {
  /*background:#101010;*/
}

.button:hover {
  /*background:#464C50;*/
}

.button-disabled {
  background:#131313;
  color:#303030;
}


.post-meta {
  color:#777;
}