body {
  background: #181818;
  color: #bbb;
}

a {
  color: #fff;
}
a:active {
  outline: none
}
a:hover  {
  color: #53DFFA !important;
}

h1, h2, h3, h4, h5, h6 {
  color:#fff;
}

.footer {
  color:#666;
}

#nav li a,
a.button {
  background:#101010;
}
