


<div id="mc_embed_signup" class="emailform" style="text-align:center;">
  <form action="//seaquence.us14.list-manage.com/subscribe/post?u=3fdd5f25d4bef024b16678665&amp;id=0c17c3906d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
      <br /><br/>
      <button type="submit" name="subscribe" class="button">SUBSCRIBE</button>
  </form>
</div>